Repository francis18georges-png/Watcher, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/design-system, @WatcherOrg/release-engineering, @WatcherOrg/ml-research, @WatcherOrg/documentation, @WatcherOrg/security-team, @WatcherOrg/qa

Fix indentation of inline Python in release workflow (#394)
  .github/workflows/release.yml
Owners: @WatcherOrg/release-engineering

Add actionlint and yamllint hooks to pre-commit (#395)
  .pre-commit-config.yaml
Owners: @WatcherOrg/maintainers

Update README to note pending v0.4.0 release (#396)
  README.md
Owners: @WatcherOrg/documentation

Update SLSA generator workflow reference (#397)
  .github/workflows/docker.yml
Owners: @WatcherOrg/release-engineering

Update security policy contact details (#398)
  SECURITY.md
Owners: @WatcherOrg/maintainers

refactor: use reusable script for source date epoch
  .github/workflows/release.yml
  scripts/export_source_date_epoch.py
Owners: @WatcherOrg/release-engineering

Préparer la fiche de citation et les notes pour v0.4.0
  CITATION.cff
  docs/release_notes.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

Préparer la fiche de citation et les notes pour v0.4.0 (#400)
  CITATION.cff
  docs/release_notes.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

refactor: use reusable script for source date epoch (#399)
  .github/workflows/release.yml
  scripts/export_source_date_epoch.py
Owners: @WatcherOrg/release-engineering

Refactor release matrix key names
  .github/workflows/release.yml
Owners: @WatcherOrg/release-engineering

Add QEMU setup step to Docker workflow
  .github/workflows/docker.yml
Owners: @WatcherOrg/release-engineering

ci: lint workflows
  .github/workflows/ci.yml
  QA.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

Refactor release matrix key names (#401)
  .github/workflows/release.yml
Owners: @WatcherOrg/release-engineering

Add QEMU setup step to Docker workflow (#402)
  .github/workflows/docker.yml
Owners: @WatcherOrg/release-engineering

ci: lint workflows (#403)
  .github/workflows/ci.yml
  QA.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

feat: enable offline llama.cpp workflow and CI smoke tests
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .gitignore
  Dockerfile
  README.md
  app/cli.py
  app/configuration.py
  app/core/memory.py
  app/embeddings/store.py
  app/llm/client.py
  app/llm/rag.py
  app/tools/embeddings.py
  config/settings.toml
  docs/configuration.md
  docs/offline_guide.md
  example.env
  pyproject.toml
  requirements.txt
  scripts/setup-local-models.sh
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers, @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/security-team

feat: enable offline llama.cpp workflow and CI smoke tests (#404)
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .gitignore
  Dockerfile
  README.md
  app/cli.py
  app/configuration.py
  app/core/memory.py
  app/embeddings/store.py
  app/llm/client.py
  app/llm/rag.py
  app/tools/embeddings.py
  config/settings.toml
  docs/configuration.md
  docs/offline_guide.md
  example.env
  pyproject.toml
  requirements.txt
  scripts/setup-local-models.sh
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers, @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/security-team

feat: add offline CLI workflow and documentation
  Makefile
  README.md
  app/cli.py
  app/configuration.py
  config/settings.toml
  docs/offline_guide.md
  pytest.ini
  scripts/setup-local-models.sh
  tests/test_e2e_offline.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/qa

feat: add offline CLI workflow and documentation (#405)
  Makefile
  README.md
  app/cli.py
  app/configuration.py
  config/settings.toml
  docs/offline_guide.md
  pytest.ini
  scripts/setup-local-models.sh
  tests/test_e2e_offline.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/qa

chore: add static policy readiness check
  .github/workflows/release.yml
  QA.md
  noxfile.py
  scripts/static_policy_checks.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

chore: add static policy readiness check (#406)
  .github/workflows/release.yml
  QA.md
  noxfile.py
  scripts/static_policy_checks.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

feat: add first-run auto configuration
  README.md
  app/cli.py
  app/core/first_run.py
  config/__init__.py
  tests/test_first_run.py
Owners: @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/qa

feat: add first-run auto configuration (#407)
  README.md
  app/cli.py
  app/core/first_run.py
  config/__init__.py
  tests/test_first_run.py
Owners: @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/qa

Document autonomy gaps and update TODO
  TODO.md
  docs/autonomy_gap_analysis.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

Document autonomy gaps and update TODO (#408)
  TODO.md
  docs/autonomy_gap_analysis.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

feat: bootstrap offline policy tooling
  .gitignore
  app/assets/models/demo-all-MiniLM-L6-v2.tar.gz
  app/assets/models/demo-smollm-135m-instruct.Q4_K_M.gguf
  app/cli.py
  app/core/first_run.py
  app/core/model_registry.py
  app/policy/__init__.py
  app/policy/ledger.py
  app/policy/manager.py
  app/policy/schema.py
  pyproject.toml
  requirements.txt
  scripts/setup-local-models.ps1
  scripts/setup-local-models.sh
  tests/test_first_run.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/release-engineering, @WatcherOrg/qa

feat: bootstrap offline policy tooling (#409)
  .gitignore
  app/assets/models/demo-all-MiniLM-L6-v2.tar.gz
  app/assets/models/demo-smollm-135m-instruct.Q4_K_M.gguf
  app/cli.py
  app/core/first_run.py
  app/core/model_registry.py
  app/policy/__init__.py
  app/policy/ledger.py
  app/policy/manager.py
  app/policy/schema.py
  pyproject.toml
  requirements.txt
  scripts/setup-local-models.ps1
  scripts/setup-local-models.sh
  tests/test_first_run.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/release-engineering, @WatcherOrg/qa

Add autonomy architecture blueprint
  docs/autonomy_architecture.md
Owners: @WatcherOrg/documentation

Add autonomy architecture blueprint (#410)
  docs/autonomy_architecture.md
Owners: @WatcherOrg/documentation

docs: add plug-and-play implementation plan
  docs/plug_and_play_plan.md
Owners: @WatcherOrg/documentation

docs: add plug-and-play implementation plan (#411)
  docs/plug_and_play_plan.md
Owners: @WatcherOrg/documentation

Add autopilot scheduler with CLI integration and tests
  app/autopilot/__init__.py
  app/autopilot/scheduler.py
  app/cli.py
  tests/test_autopilot.py
  tests/test_cli_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add ingestion pipeline with licence validation and metadata
  app/cli.py
  app/ingest/__init__.py
  app/ingest/pipeline.py
  tests/test_ingest_validation.py
  tests/test_vector_metadata.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add HTTP scraper infrastructure with robots and caching
  app/scrapers/__init__.py
  app/scrapers/github.py
  app/scrapers/http.py
  app/scrapers/sitemap.py
  tests/test_http_scraper.py
  tests/test_robots.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add autopilot scheduler with CLI integration and tests (#412)
  app/autopilot/__init__.py
  app/autopilot/scheduler.py
  app/cli.py
  tests/test_autopilot.py
  tests/test_cli_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add HTTP scraper infrastructure with robots and caching (#414)
  app/scrapers/__init__.py
  app/scrapers/github.py
  app/scrapers/http.py
  app/scrapers/sitemap.py
  tests/test_http_scraper.py
  tests/test_robots.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add ingestion pipeline with licence validation and metadata (#413)
  app/cli.py
  app/ingest/__init__.py
  app/ingest/pipeline.py
  tests/test_ingest_validation.py
  tests/test_vector_metadata.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Handle first-run sentinel and bootstrap configuration
  app/bootstrap.py
  app/cli.py
  app/core/first_run.py
  tests/test_first_run.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

feat: add autostart scheduler configuration
  app/autopilot/scheduler.py
  app/core/first_run.py
  app/utils/autostart.py
  tests/test_autopilot.py
  tests/test_autostart_config.py
  tests/test_first_run.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Refine policy schema and defaults
  app/autopilot/scheduler.py
  app/core/first_run.py
  app/policy/ledger.py
  app/policy/manager.py
  app/policy/schema.py
  tests/test_autopilot.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

.github/CODEOWNERS:

# Consultez docs/merge-policy.md pour comprendre la gouvernance des revues,
# la cartographie des labels `scope:*` et la procédure d'automatisation.
# Chaque équipe référencée doit exister dans l'organisation GitHub hébergeant
# ce dépôt et être autorisée à relire les zones assignées.

# Couverture par défaut : toute modification doit être validée par les mainteneurs.
*                         @WatcherOrg/maintainers

# scope:app — Application Watcher (API, UI, packaging client)
app/                      @WatcherOrg/app-core
app/api/                  @WatcherOrg/app-core
app/ui/                   @WatcherOrg/design-system
packaging/                @WatcherOrg/app-core

# scope:ops — Automatisation, CI/CD et outillage développeur
.github/workflows/        @WatcherOrg/release-engineering
.github/auto_merge.yml    @WatcherOrg/release-engineering
.github/dependabot.yml    @WatcherOrg/release-engineering
automation-playbook.sh    @WatcherOrg/release-engineering
auto_flow.sh              @WatcherOrg/release-engineering
noxfile.py                @WatcherOrg/release-engineering
scripts/                  @WatcherOrg/release-engineering
Makefile                  @WatcherOrg/release-engineering
requirements*.txt         @WatcherOrg/release-engineering

# scope:ml — Données, entraînement et pipelines ML
datasets/                 @WatcherOrg/ml-research
metrics/                  @WatcherOrg/ml-research
train.py                  @WatcherOrg/ml-research
dvc.yaml                  @WatcherOrg/ml-research
params.yaml               @WatcherOrg/ml-research

# scope:docs — Documentation produit et gouvernance
README.md                 @WatcherOrg/documentation
CHANGELOG.md              @WatcherOrg/documentation
ETHICS.md                 @WatcherOrg/documentation
docs/                     @WatcherOrg/documentation
METRICS.md                @WatcherOrg/documentation
QA.md                     @WatcherOrg/documentation

# scope:security — Configuration sensible et secrets
config/                   @WatcherOrg/security-team
plugins.toml              @WatcherOrg/security-team
example.env               @WatcherOrg/security-team

# scope:quality — Tests, contrôle qualité et couverture
pytest.ini                @WatcherOrg/qa
tests/                    @WatcherOrg/qa

# Infrastructure GitHub (templates, CODEOWNERS, règles)
.github/ISSUE_TEMPLATE/   @WatcherOrg/maintainers
.github/CODEOWNERS        @WatcherOrg/maintainers
