Repository francis18georges-png/Watcher, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/design-system, @WatcherOrg/platform-engineering, @WatcherOrg/ml-research, @WatcherOrg/documentation, @WatcherOrg/security-team, @WatcherOrg/qa

.github/CODEOWNERS:

# Consultez docs/merge-policy.md pour comprendre la gouvernance des revues,
# la cartographie des labels `scope:*` et la procédure d'automatisation.
# Chaque équipe référencée doit exister dans l'organisation GitHub hébergeant
# ce dépôt et être autorisée à relire les zones assignées.

# Couverture par défaut : toute modification doit être validée par les mainteneurs.
*                         @WatcherOrg/maintainers

# scope:app-experience — Application Watcher (API, UI, packaging client)
app/                      @WatcherOrg/app-core
app/api/                  @WatcherOrg/app-core
app/ui/                   @WatcherOrg/design-system
packaging/                @WatcherOrg/app-core

# scope:platform — Automatisation, CI/CD et outillage développeur
.github/workflows/        @WatcherOrg/platform-engineering
.github/auto_merge.yml    @WatcherOrg/platform-engineering
automation-playbook.sh    @WatcherOrg/platform-engineering
auto_flow.sh              @WatcherOrg/platform-engineering
noxfile.py                @WatcherOrg/platform-engineering
scripts/                  @WatcherOrg/platform-engineering
Makefile                  @WatcherOrg/platform-engineering
requirements*.txt         @WatcherOrg/platform-engineering
installer.ps1             @WatcherOrg/platform-engineering
run.ps1                   @WatcherOrg/platform-engineering

# scope:data-insights — Données, entraînement et pipelines ML
datasets/                 @WatcherOrg/ml-research
metrics/                  @WatcherOrg/ml-research
train.py                  @WatcherOrg/ml-research
dvc.yaml                  @WatcherOrg/ml-research
params.yaml               @WatcherOrg/ml-research

# scope:documentation — Documentation produit et gouvernance
README.md                 @WatcherOrg/documentation
CHANGELOG.md              @WatcherOrg/documentation
ETHICS.md                 @WatcherOrg/documentation
docs/                     @WatcherOrg/documentation
METRICS.md                @WatcherOrg/documentation
QA.md                     @WatcherOrg/documentation

# scope:security — Configuration sensible et secrets
config/                   @WatcherOrg/security-team
plugins.toml              @WatcherOrg/security-team
example.env               @WatcherOrg/security-team

# scope:quality — Tests, contrôle qualité et couverture
pytest.ini                @WatcherOrg/qa
tests/                    @WatcherOrg/qa

# Infrastructure GitHub (templates, CODEOWNERS, règles)
.github/ISSUE_TEMPLATE/   @WatcherOrg/maintainers
.github/CODEOWNERS        @WatcherOrg/maintainers

docs: restructure mkdocs site and deployment guidance
  README.md
  docs/architecture.md
  docs/index.md
  docs/threat-model.md
  mkdocs.yml
Owners: @WatcherOrg/documentation, @WatcherOrg/maintainers

Add signed Windows release packaging
  .github/workflows/release.yml
  README.md
  packaging/watcher.spec
Owners: @WatcherOrg/platform-engineering, @WatcherOrg/documentation, @WatcherOrg/app-core

ci: smoke test Windows launcher
  .github/workflows/ci.yml
  QA.md
Owners: @WatcherOrg/platform-engineering, @WatcherOrg/documentation

Add end-of-file fixer hook and document pre-commit setup (#325)
  .pre-commit-config.yaml
  README.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

Harden plugin sandbox execution (#326)
  app/core/engine.py
  app/core/sandbox.py
Owners: @WatcherOrg/app-core

feat(config): add database settings and validation tests (#327)
  app/configuration.py
  config/__init__.py
  config/settings.toml
  tests/test_config.py
Owners: @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/qa

Ensure FTS5 extension loads for each connection (#328)
  app/core/memory.py
  tests/test_memory.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Support JSON logging configs with sampling (#329)
  app/core/logging_setup.py
  config/logging.json
  docs/logging.md
  tests/test_structured_logs.py
Owners: @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/documentation, @WatcherOrg/qa

Ensure deterministic seeding across CLI and automation (#330)
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  installer.ps1
  tests/test_reproducibility.py
Owners: @WatcherOrg/platform-engineering, @WatcherOrg/qa

Enhance benchmark scenarios with validation checks (#331)
  app/core/benchmark.py
Owners: @WatcherOrg/app-core

Configure DVC dataset pipeline with validation stages
  README.md
  dvc.yaml
Owners: @WatcherOrg/documentation, @WatcherOrg/ml-research

Configure DVC dataset pipeline with validation stages (#336)
  README.md
  dvc.yaml
Owners: @WatcherOrg/documentation, @WatcherOrg/ml-research

docs: restructure mkdocs site and deployment guidance (#333)
  README.md
  docs/architecture.md
  docs/index.md
  docs/threat-model.md
  mkdocs.yml
Owners: @WatcherOrg/documentation, @WatcherOrg/maintainers

Add signed Windows release packaging (#334)
  .github/workflows/release.yml
  README.md
  packaging/watcher.spec
Owners: @WatcherOrg/platform-engineering, @WatcherOrg/documentation, @WatcherOrg/app-core

ci: smoke test Windows launcher (#335)
  .github/workflows/ci.yml
  QA.md
Owners: @WatcherOrg/platform-engineering, @WatcherOrg/documentation

chore: publish sbom and provenance artifacts
  .github/workflows/release.yml
  docs/index.md
Owners: @WatcherOrg/platform-engineering, @WatcherOrg/documentation

Update auto-merge required labels
  .github/auto_merge.yml
Owners: @WatcherOrg/platform-engineering

Update label guide issue template description
  .github/ISSUE_TEMPLATE/config.yml
Owners: @WatcherOrg/maintainers

Update auto-merge required labels (#338)
  .github/auto_merge.yml
Owners: @WatcherOrg/platform-engineering

Update label guide issue template description (#339)
  .github/ISSUE_TEMPLATE/config.yml
Owners: @WatcherOrg/maintainers

Add offline mode toggle and plugin monitoring
  README.md
  app/cli.py
  app/core/benchmark.py
  app/core/engine.py
  app/core/pipeline.py
  app/core/sandbox.py
  app/data/pipeline.py
  app/llm/client.py
  app/tools/embeddings.py
  app/tools/scaffold.py
  app/ui/main.py
  app/utils/metrics.py
  app/utils/np.py
  config/__init__.py
  requirements-dev.txt
  requirements.txt
  tests/test_client.py
  tests/test_engine_chat.py
  tests/test_prompt_sanitization.py
  tests/test_reasoning_chain.py
  tests/test_trace_logging.py
  tests/test_ui_offline.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/design-system, @WatcherOrg/security-team, @WatcherOrg/platform-engineering, @WatcherOrg/qa

Add offline mode offline embedding controls
  app/cli.py
  app/core/engine.py
  app/core/memory.py
  tests/conftest.py
  tests/test_data_pipeline.py
  tests/test_engine_chat.py
  tests/test_engine_feedback.py
  tests/test_engine_offline.py
  tests/test_learner_context.py
  tests/test_maintenance.py
  tests/test_memory.py
  tests/test_memory_summary.py
  tests/test_prompt_sanitization.py
  tests/test_reasoning_chain.py
  tests/test_trace_logging.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add offline mode offline embedding controls (#341)
  app/cli.py
  app/core/engine.py
  app/core/memory.py
  tests/conftest.py
  tests/test_data_pipeline.py
  tests/test_engine_chat.py
  tests/test_engine_feedback.py
  tests/test_engine_offline.py
  tests/test_learner_context.py
  tests/test_maintenance.py
  tests/test_memory.py
  tests/test_memory_summary.py
  tests/test_prompt_sanitization.py
  tests/test_reasoning_chain.py
  tests/test_trace_logging.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add offline mode toggle to LLM client
  app/llm/client.py
  tests/test_client.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add offline mode toggle to LLM client (#342)
  app/llm/client.py
  tests/test_client.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

docs: prepare release v0.4.0
  CHANGELOG.md
  README.md
Owners: @WatcherOrg/documentation

ci: add openssf scorecard gate
  .github/workflows/ci.yml
  .github/workflows/scorecard.yml
  QA.md
  README.md
Owners: @WatcherOrg/platform-engineering, @WatcherOrg/documentation

Add security policy and update README
  README.md
  SECURITY.md
Owners: @WatcherOrg/documentation, @WatcherOrg/maintainers
