Repository francis18georges-png/Watcher, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/design-system, @WatcherOrg/release-engineering, @WatcherOrg/ml-research, @WatcherOrg/documentation, @WatcherOrg/security-team, @WatcherOrg/qa

.github/CODEOWNERS:

# Consultez docs/merge-policy.md pour comprendre la gouvernance des revues,
# la cartographie des labels `scope:*` et la procédure d'automatisation.
# Chaque équipe référencée doit exister dans l'organisation GitHub hébergeant
# ce dépôt et être autorisée à relire les zones assignées.

# Couverture par défaut : toute modification doit être validée par les mainteneurs.
*                         @WatcherOrg/maintainers

# scope:app — Application Watcher (API, UI, packaging client)
app/                      @WatcherOrg/app-core
app/api/                  @WatcherOrg/app-core
app/ui/                   @WatcherOrg/design-system
packaging/                @WatcherOrg/app-core

# scope:ops — Automatisation, CI/CD et outillage développeur
.github/workflows/        @WatcherOrg/release-engineering
.github/auto_merge.yml    @WatcherOrg/release-engineering
.github/dependabot.yml    @WatcherOrg/release-engineering
automation-playbook.sh    @WatcherOrg/release-engineering
auto_flow.sh              @WatcherOrg/release-engineering
noxfile.py                @WatcherOrg/release-engineering
scripts/                  @WatcherOrg/release-engineering
Makefile                  @WatcherOrg/release-engineering
requirements*.txt         @WatcherOrg/release-engineering

# scope:ml — Données, entraînement et pipelines ML
datasets/                 @WatcherOrg/ml-research
metrics/                  @WatcherOrg/ml-research
train.py                  @WatcherOrg/ml-research
dvc.yaml                  @WatcherOrg/ml-research
params.yaml               @WatcherOrg/ml-research

# scope:docs — Documentation produit et gouvernance
README.md                 @WatcherOrg/documentation
CHANGELOG.md              @WatcherOrg/documentation
ETHICS.md                 @WatcherOrg/documentation
docs/                     @WatcherOrg/documentation
METRICS.md                @WatcherOrg/documentation
QA.md                     @WatcherOrg/documentation

# scope:security — Configuration sensible et secrets
config/                   @WatcherOrg/security-team
plugins.toml              @WatcherOrg/security-team
example.env               @WatcherOrg/security-team

# scope:quality — Tests, contrôle qualité et couverture
pytest.ini                @WatcherOrg/qa
tests/                    @WatcherOrg/qa

# Infrastructure GitHub (templates, CODEOWNERS, règles)
.github/ISSUE_TEMPLATE/   @WatcherOrg/maintainers
.github/CODEOWNERS        @WatcherOrg/maintainers

Add autopilot orchestration with policy guardrails
  app/autopilot/__init__.py
  app/autopilot/controller.py
  app/autopilot/scheduler.py
  tests/test_autopilot_controller.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Handle first-run sentinel and bootstrap configuration (#415)
  app/bootstrap.py
  app/cli.py
  app/core/first_run.py
  tests/test_first_run.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add autopilot orchestration with policy guardrails (#418)
  app/autopilot/__init__.py
  app/autopilot/controller.py
  app/autopilot/scheduler.py
  tests/test_autopilot_controller.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add CLI-based autostart command definitions
  app/utils/__init__.py
  app/utils/autostart.py
  tests/test_autostart_config.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Fix allowlist replacement and add regression test
  app/policy/manager.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Handle legacy policy.yaml format
  app/policy/manager.py
  tests/fixtures/policy_legacy.yaml
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add CLI-based autostart command definitions (#419)
  app/utils/__init__.py
  app/utils/autostart.py
  tests/test_autostart_config.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Fix allowlist replacement and add regression test (#420)
  app/policy/manager.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Preserve unexpected defaults when reading policy
  app/policy/manager.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Preserve unexpected defaults when reading policy (#422)
  app/policy/manager.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Respect policy offline defaults
  app/policy/manager.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add default discovery crawler for autopilot
  app/autopilot/__init__.py
  app/autopilot/controller.py
  app/autopilot/discovery.py
  tests/test_autopilot_discovery.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add autopilot run command and tests
  app/cli.py
  tests/test_cli_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add autopilot autostart configuration
  app/core/first_run.py
  tests/test_first_run_autostart.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Respect policy offline defaults (#423)
  app/policy/manager.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add default discovery crawler for autopilot (#424)
  app/autopilot/__init__.py
  app/autopilot/controller.py
  app/autopilot/discovery.py
  tests/test_autopilot_discovery.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add autopilot run command and tests (#425)
  app/cli.py
  tests/test_cli_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add autopilot autostart configuration (#426)
  app/core/first_run.py
  tests/test_first_run_autostart.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Ensure bootstrap initialises missing configuration
  app/bootstrap.py
  app/core/first_run.py
  tests/test_first_run.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Update autostart defaults and scheduler
  app/core/first_run.py
  tests/test_first_run_autostart.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Enable autopilot discovery in CLI and add integration test
  app/cli.py
  tests/test_cli_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

feat: persist autopilot queue scoring metadata
  app/autopilot/__init__.py
  app/autopilot/controller.py
  app/autopilot/scheduler.py
  app/cli.py
  tests/test_autopilot.py
  tests/test_cli_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Ensure bootstrap initialises missing configuration (#427)
  app/bootstrap.py
  app/core/first_run.py
  tests/test_first_run.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Update autostart defaults and scheduler (#428)
  app/core/first_run.py
  tests/test_first_run_autostart.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

feat: persist autopilot queue scoring metadata (#430)
  app/autopilot/__init__.py
  app/autopilot/controller.py
  app/autopilot/scheduler.py
  app/cli.py
  tests/test_autopilot.py
  tests/test_cli_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Rename consent ledger file and migrate legacy data
  app/bootstrap.py
  app/core/first_run.py
  app/policy/manager.py
  docs/autonomy_architecture.md
  tests/test_autopilot_controller.py
  tests/test_first_run.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/documentation, @WatcherOrg/qa

Refactor policy schema and update consumers
  app/autopilot/controller.py
  app/autopilot/scheduler.py
  app/core/first_run.py
  app/policy/manager.py
  app/policy/schema.py
  tests/test_autopilot.py
  tests/test_autopilot_controller.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add plug-and-play operations guides
  docs/autopilot.md
  docs/depannage.md
  docs/index.md
  docs/policy-consent.md
  docs/quickstart-sans-commande.md
  docs/verifier-artefacts.md
  mkdocs.yml
Owners: @WatcherOrg/documentation, @WatcherOrg/maintainers

Add canonical policy defaults and baseline test
  README.md
  app/core/first_run.py
  config/policy.yaml
  docs/offline_guide.md
  pyproject.toml
  tests/test_policy_baseline.py
Owners: @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/maintainers, @WatcherOrg/qa

Rename consent ledger file and migrate legacy data (#431)
  app/bootstrap.py
  app/core/first_run.py
  app/policy/manager.py
  docs/autonomy_architecture.md
  tests/test_autopilot_controller.py
  tests/test_first_run.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/documentation, @WatcherOrg/qa

Add plug-and-play operations guides (#433)
  docs/autopilot.md
  docs/depannage.md
  docs/index.md
  docs/policy-consent.md
  docs/quickstart-sans-commande.md
  docs/verifier-artefacts.md
  mkdocs.yml
Owners: @WatcherOrg/documentation, @WatcherOrg/maintainers

Add canonical policy defaults and baseline test (#434)
  README.md
  app/core/first_run.py
  config/policy.yaml
  docs/offline_guide.md
  pyproject.toml
  tests/test_policy_baseline.py
Owners: @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/maintainers, @WatcherOrg/qa

Fix autopilot scheduler weekday lookup
  app/autopilot/scheduler.py
  app/policy/schema.py
  tests/test_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Fix autopilot scheduler weekday lookup (#435)
  app/autopilot/scheduler.py
  app/policy/schema.py
  tests/test_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

refactor policy schema for plug-and-play autopilot
  app/autopilot/controller.py
  app/autopilot/scheduler.py
  app/cli.py
  app/policy/manager.py
  app/policy/schema.py
  config/policy.yaml
  docs/arborescence-cible.md
  docs/architecture-summary.md
  docs/autopilot.md
  docs/autostart.md
  docs/depannage.md
  docs/policy-consent.md
  docs/quickstart-sans-commande.md
  docs/tests-plan.md
  mkdocs.yml
  tests/test_autopilot.py
  tests/test_autopilot_controller.py
  tests/test_policy_baseline.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/documentation, @WatcherOrg/maintainers, @WatcherOrg/qa

refactor policy schema for plug-and-play autopilot (#436)
  app/autopilot/controller.py
  app/autopilot/scheduler.py
  app/cli.py
  app/policy/manager.py
  app/policy/schema.py
  config/policy.yaml
  docs/arborescence-cible.md
  docs/architecture-summary.md
  docs/autopilot.md
  docs/autostart.md
  docs/depannage.md
  docs/policy-consent.md
  docs/quickstart-sans-commande.md
  docs/tests-plan.md
  mkdocs.yml
  tests/test_autopilot.py
  tests/test_autopilot_controller.py
  tests/test_policy_baseline.py
  tests/test_policy_manager.py
Owners: @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/documentation, @WatcherOrg/maintainers, @WatcherOrg/qa

Validate model artifacts using size and hash
  app/core/model_registry.py
  tests/test_model_registry.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Validate model artifacts using size and hash (#437)
  app/core/model_registry.py
  tests/test_model_registry.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Allow forcing autopilot autostart
  app/core/first_run.py
  config/policy.yaml
  docs/autostart.md
  tests/test_first_run_autostart.py
Owners: @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/documentation, @WatcherOrg/qa

Allow forcing autopilot autostart (#438)
  app/core/first_run.py
  config/policy.yaml
  docs/autostart.md
  tests/test_first_run_autostart.py
Owners: @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/documentation, @WatcherOrg/qa
