Repository francis18georges-png/Watcher, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/design-system, @WatcherOrg/release-engineering, @WatcherOrg/ml-research, @WatcherOrg/documentation, @WatcherOrg/security-team, @WatcherOrg/qa

.github/CODEOWNERS:

# Consultez docs/merge-policy.md pour comprendre la gouvernance des revues,
# la cartographie des labels `scope:*` et la procédure d'automatisation.
# Chaque équipe référencée doit exister dans l'organisation GitHub hébergeant
# ce dépôt et être autorisée à relire les zones assignées.

# Couverture par défaut : toute modification doit être validée par les mainteneurs.
*                         @WatcherOrg/maintainers

# scope:app — Application Watcher (API, UI, packaging client)
app/                      @WatcherOrg/app-core
app/api/                  @WatcherOrg/app-core
app/ui/                   @WatcherOrg/design-system
packaging/                @WatcherOrg/app-core

# scope:ops — Automatisation, CI/CD et outillage développeur
.github/workflows/        @WatcherOrg/release-engineering
.github/auto_merge.yml    @WatcherOrg/release-engineering
.github/dependabot.yml    @WatcherOrg/release-engineering
automation-playbook.sh    @WatcherOrg/release-engineering
auto_flow.sh              @WatcherOrg/release-engineering
noxfile.py                @WatcherOrg/release-engineering
scripts/                  @WatcherOrg/release-engineering
Makefile                  @WatcherOrg/release-engineering
requirements*.txt         @WatcherOrg/release-engineering

# scope:ml — Données, entraînement et pipelines ML
datasets/                 @WatcherOrg/ml-research
metrics/                  @WatcherOrg/ml-research
train.py                  @WatcherOrg/ml-research
dvc.yaml                  @WatcherOrg/ml-research
params.yaml               @WatcherOrg/ml-research

# scope:docs — Documentation produit et gouvernance
README.md                 @WatcherOrg/documentation
CHANGELOG.md              @WatcherOrg/documentation
ETHICS.md                 @WatcherOrg/documentation
docs/                     @WatcherOrg/documentation
METRICS.md                @WatcherOrg/documentation
QA.md                     @WatcherOrg/documentation

# scope:security — Configuration sensible et secrets
config/                   @WatcherOrg/security-team
plugins.toml              @WatcherOrg/security-team
example.env               @WatcherOrg/security-team

# scope:quality — Tests, contrôle qualité et couverture
pytest.ini                @WatcherOrg/qa
tests/                    @WatcherOrg/qa

# Infrastructure GitHub (templates, CODEOWNERS, règles)
.github/ISSUE_TEMPLATE/   @WatcherOrg/maintainers
.github/CODEOWNERS        @WatcherOrg/maintainers

chore: strengthen security tooling (#347)
  .github/workflows/ci.yml
  QA.md
  noxfile.py
  requirements-dev.txt
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

feat: build linux and macOS release binaries (#348)
  .github/workflows/release.yml
  README.md
  docs/index.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

Add Docker packaging and publishing workflow (#349)
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  README.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/release-engineering, @WatcherOrg/documentation

Add contribution governance documentation (#351)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

Move license files configuration to setuptools
  pyproject.toml
Owners: @WatcherOrg/maintainers

Move license files configuration to setuptools (#352)
  pyproject.toml
Owners: @WatcherOrg/maintainers

Add script to install security CLI tools
  .github/workflows/ci.yml
  .gitignore
  noxfile.py
  requirements-dev.txt
  scripts/install_cli_tools.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers

Add script to install security CLI tools (#353)
  .github/workflows/ci.yml
  .gitignore
  noxfile.py
  requirements-dev.txt
  scripts/install_cli_tools.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers

Add project metadata and build workflow
  .github/workflows/release.yml
  pyproject.toml
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers

Add project metadata and build workflow (#354)
  .github/workflows/release.yml
  pyproject.toml
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers

Add SHA256 verification for security CLI tools
  README.md
  scripts/install_cli_tools.py
Owners: @WatcherOrg/documentation, @WatcherOrg/release-engineering

Add SHA256 verification for security CLI tools (#355)
  README.md
  scripts/install_cli_tools.py
Owners: @WatcherOrg/documentation, @WatcherOrg/release-engineering

Handle HTTPS hosts for Ollama embeddings
  app/tools/embeddings.py
  tests/test_embeddings.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Handle HTTPS Ollama hosts
  app/llm/client.py
  tests/test_client.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Handle HTTPS hosts for Ollama embeddings (#356)
  app/tools/embeddings.py
  tests/test_embeddings.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Handle HTTPS Ollama hosts (#357)
  app/llm/client.py
  tests/test_client.py
Owners: @WatcherOrg/app-core, @WatcherOrg/qa

Add Trivy scan before pushing Docker image
  .github/workflows/docker.yml
Owners: @WatcherOrg/release-engineering

ci: sign docker images with cosign
  .github/workflows/docker.yml
  README.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

Add citation metadata and documentation guidance
  CITATION.cff
  README.md
  docs/merge-policy.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

Add Trivy scan before pushing Docker image (#358)
  .github/workflows/docker.yml
Owners: @WatcherOrg/release-engineering

Add container SBOM generation and release artifact
  .github/workflows/docker.yml
  .github/workflows/release.yml
Owners: @WatcherOrg/release-engineering

Add citation metadata and documentation guidance (#360)
  CITATION.cff
  README.md
  docs/merge-policy.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

Fetch base branch for diff coverage
  .github/workflows/ci.yml
  noxfile.py
  requirements-dev.txt
Owners: @WatcherOrg/release-engineering

Fetch base branch for diff coverage (#362)
  .github/workflows/ci.yml
  noxfile.py
  requirements-dev.txt
Owners: @WatcherOrg/release-engineering

docs: ajouter guides de provenance et diffusion
  docs/offline_guide.md
  docs/release_notes.md
  docs/security_provenance.md
  mkdocs.yml
Owners: @WatcherOrg/documentation, @WatcherOrg/maintainers

Add Hypothesis property-based tests
  README.md
  noxfile.py
  requirements-dev.txt
  tests/property/test_memory_properties.py
  tests/property/test_planner_properties.py
Owners: @WatcherOrg/documentation, @WatcherOrg/release-engineering, @WatcherOrg/qa

Make release artifacts reproducible
  .github/workflows/release.yml
  .gitignore
  packaging/watcher.spec
  scripts/normalize_zip_metadata.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers, @WatcherOrg/app-core

Document docker Sigstore bundles
  README.md
Owners: @WatcherOrg/documentation

Document configuration and extend Python support
  .github/workflows/ci.yml
  README.md
  app/tools/plugins/__init__.py
  config/__init__.py
  docs/configuration.md
  mkdocs.yml
  noxfile.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_config_invalid_toml.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/maintainers, @WatcherOrg/qa

Document docker Sigstore bundles (#366)
  README.md
Owners: @WatcherOrg/documentation

Make release artifacts reproducible (#365)
  .github/workflows/release.yml
  .gitignore
  packaging/watcher.spec
  scripts/normalize_zip_metadata.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers, @WatcherOrg/app-core

docs: ajouter guides de provenance et diffusion (#363)
  docs/offline_guide.md
  docs/release_notes.md
  docs/security_provenance.md
  mkdocs.yml
Owners: @WatcherOrg/documentation, @WatcherOrg/maintainers

Improve release and container workflows
  .github/workflows/docker.yml
  .github/workflows/release.yml
  README.md
  SECURITY.md
  docs/index.md
  mkdocs.yml
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation, @WatcherOrg/maintainers

Improve release and container workflows (#368)
  .github/workflows/docker.yml
  .github/workflows/release.yml
  README.md
  SECURITY.md
  docs/index.md
  mkdocs.yml
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation, @WatcherOrg/maintainers

Add production constraints and document release activation
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  QA.md
  README.md
  SECURITY.md
  constraints.txt
  docs/index.md
  docs/offline_guide.md
  mkdocs.yml
  noxfile.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers, @WatcherOrg/documentation

Align security provenance snippets with WatcherOrg URLs
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  CITATION.cff
  CONTRIBUTING.md
  QA.md
  README.md
  SECURITY.md
  constraints.txt
  docs/index.md
  docs/offline_guide.md
  docs/release_notes.md
  docs/security_provenance.md
  mkdocs.yml
  noxfile.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers, @WatcherOrg/documentation

Sign release SBOMs and provenance bundles
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  CITATION.cff
  CONTRIBUTING.md
  QA.md
  README.md
  SECURITY.md
  constraints.txt
  docs/index.md
  docs/offline_guide.md
  docs/release_notes.md
  docs/security_provenance.md
  mkdocs.yml
  noxfile.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers, @WatcherOrg/documentation

Add release checksum manifest and fix provenance digest
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CITATION.cff
  CONTRIBUTING.md
  QA.md
  README.md
  SECURITY.md
  constraints.txt
  docs/index.md
  docs/offline_guide.md
  docs/release_notes.md
  docs/security_provenance.md
  mkdocs.yml
  noxfile.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation, @WatcherOrg/maintainers

Adjust constraints for cross-platform release builds
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CITATION.cff
  CONTRIBUTING.md
  QA.md
  README.md
  SECURITY.md
  constraints.txt
  docs/index.md
  docs/offline_guide.md
  docs/release_notes.md
  docs/security_provenance.md
  mkdocs.yml
  noxfile.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation, @WatcherOrg/maintainers

Align requirements with constraints
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CITATION.cff
  CONTRIBUTING.md
  QA.md
  README.md
  SECURITY.md
  constraints.txt
  docs/index.md
  docs/offline_guide.md
  docs/release_notes.md
  docs/security_provenance.md
  mkdocs.yml
  noxfile.py
  requirements.txt
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation, @WatcherOrg/maintainers
