Repository francis18georges-png/Watcher, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WatcherOrg/maintainers, @WatcherOrg/security-team, @WatcherOrg/documentation, @WatcherOrg/qa

Add MkDocs documentation site and deployment workflow (#277)
  .github/workflows/deploy-docs.yml
  README.md
  docs/architecture.md
  docs/ethics.md
  docs/index.md
  docs/threat-model.md
  mkdocs.yml
  requirements-dev.txt
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

Run Windows installer and headless smoke test in CI (#276)
  .github/workflows/ci.yml
  README.md
Owners: @WatcherOrg/maintainers

Configure SQLCipher PRAGMA without parameter binding
  app/core/memory.py
  tests/test_memory.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/qa

refactor: isolate psutil stub
  app/core/engine.py
  app/utils/__init__.py
  app/utils/psutil_stub.py
  tests/conftest.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/qa

Configure SQLCipher PRAGMA without parameter binding (#287)
  app/core/memory.py
  tests/test_memory.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/qa

refactor: isolate psutil stub (#288)
  app/core/engine.py
  app/utils/__init__.py
  app/utils/psutil_stub.py
  tests/conftest.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/qa

Add badge color normalization for benchmark
  README.md
  app/core/benchmark.py
  metrics/performance_badge.svg
Owners: @WatcherOrg/maintainers

Add badge color normalization for benchmark (#289)
  README.md
  app/core/benchmark.py
  metrics/performance_badge.svg
Owners: @WatcherOrg/maintainers

Ensure packaged plugin manifest is always discoverable
  app/cli.py
  app/tools/plugins/__init__.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/qa

Ensure packaged plugin manifest is always discoverable (#290)
  app/cli.py
  app/tools/plugins/__init__.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/qa

chore: configure eof fixer hook
  .pre-commit-config.yaml
  QA.md
Owners: @WatcherOrg/maintainers

Add signed Windows release workflow
  .github/workflows/release.yml
  packaging/watcher.spec
Owners: @WatcherOrg/maintainers

Ensure plugin manifest available from installed package
  app/tools/plugins/__init__.py
  pyproject.toml
  tests/test_plugin_reload.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/qa

chore: add sbom generation and provenance to release
  .github/workflows/release.yml
Owners: @WatcherOrg/maintainers

Isolate plugins execution and harden sandbox
  app/core/engine.py
  app/core/sandbox.py
Owners: @WatcherOrg/maintainers

Add typed settings sections and integrate logging configuration
  app/configuration.py
  app/core/logging_setup.py
  config/__init__.py
  config/settings.toml
  tests/test_config.py
  tests/test_settings_validation.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/security-team, @WatcherOrg/qa

Integrate Alembic migrations and configure SQLite
  README.md
  alembic.ini
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/20240921_01_create_memory_tables.py
  app/core/memory.py
  requirements.txt
  tests/test_memory.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/qa

Add configurable logging sample rate
  README.md
  app/core/logging_setup.py
  config/logging.json
  config/logging.yml
  docs/logging.md
  tests/test_structured_logs.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/security-team, @WatcherOrg/documentation, @WatcherOrg/qa

Add deterministic seeding controls across CLI and CI
  .github/workflows/ci.yml
  README.md
  app/cli.py
  config/__init__.py
  tests/test_reproducibility.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/security-team, @WatcherOrg/qa

Clean up benchmark threshold helper
  .github/workflows/ci.yml
  README.md
  app/core/benchmark.py
  app/data/pipeline.py
  metrics/bench_thresholds.json
  metrics/benchmarks-latest.json
  metrics/benchmarks.jsonl
  metrics/performance_badge.svg
  tests/test_benchmark.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/qa

.github/CODEOWNERS:

# Consultez README.md pour la gouvernance des revues et la signification des labels.
# Les équipes référencées doivent exister dans l'organisation GitHub hébergeant ce dépôt.

*               @WatcherOrg/maintainers
app/            @WatcherOrg/maintainers
config/         @WatcherOrg/security-team
docs/           @WatcherOrg/documentation
tests/          @WatcherOrg/qa
.github/        @WatcherOrg/maintainers
