Repository francis18georges-png/Watcher, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/design-system, @WatcherOrg/release-engineering, @WatcherOrg/ml-research, @WatcherOrg/documentation, @WatcherOrg/security-team, @WatcherOrg/qa

.github/CODEOWNERS:

# Consultez docs/merge-policy.md pour comprendre la gouvernance des revues,
# la cartographie des labels `scope:*` et la procédure d'automatisation.
# Chaque équipe référencée doit exister dans l'organisation GitHub hébergeant
# ce dépôt et être autorisée à relire les zones assignées.

# Couverture par défaut : toute modification doit être validée par les mainteneurs.
*                         @WatcherOrg/maintainers

# scope:app — Application Watcher (API, UI, packaging client)
app/                      @WatcherOrg/app-core
app/api/                  @WatcherOrg/app-core
app/ui/                   @WatcherOrg/design-system
packaging/                @WatcherOrg/app-core

# scope:ops — Automatisation, CI/CD et outillage développeur
.github/workflows/        @WatcherOrg/release-engineering
.github/auto_merge.yml    @WatcherOrg/release-engineering
.github/dependabot.yml    @WatcherOrg/release-engineering
automation-playbook.sh    @WatcherOrg/release-engineering
auto_flow.sh              @WatcherOrg/release-engineering
noxfile.py                @WatcherOrg/release-engineering
scripts/                  @WatcherOrg/release-engineering
Makefile                  @WatcherOrg/release-engineering
requirements*.txt         @WatcherOrg/release-engineering

# scope:ml — Données, entraînement et pipelines ML
datasets/                 @WatcherOrg/ml-research
metrics/                  @WatcherOrg/ml-research
train.py                  @WatcherOrg/ml-research
dvc.yaml                  @WatcherOrg/ml-research
params.yaml               @WatcherOrg/ml-research

# scope:docs — Documentation produit et gouvernance
README.md                 @WatcherOrg/documentation
CHANGELOG.md              @WatcherOrg/documentation
ETHICS.md                 @WatcherOrg/documentation
docs/                     @WatcherOrg/documentation
METRICS.md                @WatcherOrg/documentation
QA.md                     @WatcherOrg/documentation

# scope:security — Configuration sensible et secrets
config/                   @WatcherOrg/security-team
plugins.toml              @WatcherOrg/security-team
example.env               @WatcherOrg/security-team

# scope:quality — Tests, contrôle qualité et couverture
pytest.ini                @WatcherOrg/qa
tests/                    @WatcherOrg/qa

# Infrastructure GitHub (templates, CODEOWNERS, règles)
.github/ISSUE_TEMPLATE/   @WatcherOrg/maintainers
.github/CODEOWNERS        @WatcherOrg/maintainers

Add property tests with numpy-stub compatible embeddings
  tests/property/test_memory_properties.py
Owners: @WatcherOrg/qa

Documenter le blocage réseau dans la configuration
  docs/configuration.md
Owners: @WatcherOrg/documentation

Document WATCHER_NOX_PYTHON configuration
  docs/configuration.md
  mkdocs.yml
Owners: @WatcherOrg/documentation, @WatcherOrg/maintainers

Add property tests with numpy-stub compatible embeddings (#375)
  tests/property/test_memory_properties.py
Owners: @WatcherOrg/qa

Documenter le blocage réseau dans la configuration (#376)
  docs/configuration.md
Owners: @WatcherOrg/documentation

Allow configuring Python versions for Nox and CI
  .github/workflows/ci.yml
  docs/configuration.md
  noxfile.py
  tests/test_noxfile_python_versions.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation, @WatcherOrg/qa

Allow configuring Python versions for Nox and CI (#378)
  .github/workflows/ci.yml
  docs/configuration.md
  noxfile.py
  tests/test_noxfile_python_versions.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation, @WatcherOrg/qa

Document v0.4.0 release artifacts
  CHANGELOG.md
  README.md
  docs/offline_guide.md
  docs/release_notes.md
Owners: @WatcherOrg/documentation

Document v0.4.0 release artifacts (#379)
  CHANGELOG.md
  README.md
  docs/offline_guide.md
  docs/release_notes.md
Owners: @WatcherOrg/documentation

Document SPDX mention in security guide
  .github/workflows/docker.yml
  README.md
  docs/security_provenance.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

docs: clarify python asset links
  README.md
  docs/release_notes.md
Owners: @WatcherOrg/documentation

Update CI matrix defaults to supported Python versions
  .github/workflows/ci.yml
  README.md
  docs/configuration.md
  noxfile.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

ci: fail on missing dvc artifacts
  .github/workflows/ci.yml
  QA.md
  docs/configuration.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

ci: add commitlint and release drafter workflows
  .github/release-drafter.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-drafter.yml
  CONTRIBUTING.md
  commitlint.config.cjs
  docs/merge-policy.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/release-engineering, @WatcherOrg/documentation

docs: clarify python asset links (#380)
  README.md
  docs/release_notes.md
Owners: @WatcherOrg/documentation

Document SPDX mention in security guide (#381)
  .github/workflows/docker.yml
  README.md
  docs/security_provenance.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

Update CI matrix defaults to supported Python versions (#382)
  .github/workflows/ci.yml
  README.md
  docs/configuration.md
  noxfile.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

ci: add commitlint and release drafter workflows (#384)
  .github/release-drafter.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-drafter.yml
  CONTRIBUTING.md
  commitlint.config.cjs
  docs/merge-policy.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/release-engineering, @WatcherOrg/documentation

ci: skip dvc artifacts on forks
  .github/workflows/ci.yml
  QA.md
  docs/configuration.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

ci: skip dvc artifacts on forks (#385)
  .github/workflows/ci.yml
  QA.md
  docs/configuration.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

ci: enforce dvc checks and document aws secrets
  .github/workflows/ci.yml
  QA.md
  docs/configuration.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

ci: enforce dvc checks and document aws secrets (#386)
  .github/workflows/ci.yml
  QA.md
  docs/configuration.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

fix(packaging): lower python floor to 3.10
  CONTRIBUTING.md
  README.md
  pyproject.toml
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

fix(packaging): lower python floor to 3.10 (#387)
  CONTRIBUTING.md
  README.md
  pyproject.toml
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

doc: align release links with repository owner
  CITATION.cff
  README.md
  docs/offline_guide.md
  docs/release_notes.md
  docs/security_provenance.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

doc: align release links with repository owner (#388)
  CITATION.cff
  README.md
  docs/offline_guide.md
  docs/release_notes.md
  docs/security_provenance.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/documentation

Update docs URLs for GitHub Pages
  README.md
  docs/index.md
  mkdocs.yml
Owners: @WatcherOrg/documentation, @WatcherOrg/maintainers

Update GitHub link in docs config
  mkdocs.yml
Owners: @WatcherOrg/maintainers

chore(ci): tighten coverage gates
  QA.md
  noxfile.py
Owners: @WatcherOrg/documentation, @WatcherOrg/release-engineering

Enable multi-arch Docker image builds
  .github/workflows/docker.yml
Owners: @WatcherOrg/release-engineering

Add pytest-socket enforcement and offline network test
  requirements-dev.txt
  tests/conftest.py
  tests/test_engine_offline.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/qa

Update docs URLs for GitHub Pages (#389)
  README.md
  docs/index.md
  mkdocs.yml
Owners: @WatcherOrg/documentation, @WatcherOrg/maintainers

Enable multi-arch Docker image builds (#392)
  .github/workflows/docker.yml
Owners: @WatcherOrg/release-engineering

chore(ci): tighten coverage gates (#391)
  QA.md
  noxfile.py
Owners: @WatcherOrg/documentation, @WatcherOrg/release-engineering

Add pytest-socket enforcement and offline network test (#393)
  requirements-dev.txt
  tests/conftest.py
  tests/test_engine_offline.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/qa

Fix indentation of inline Python in release workflow
  .github/workflows/release.yml
Owners: @WatcherOrg/release-engineering

Add actionlint and yamllint hooks to pre-commit
  .pre-commit-config.yaml
Owners: @WatcherOrg/maintainers

Update README to note pending v0.4.0 release
  README.md
Owners: @WatcherOrg/documentation

Update SLSA generator workflow reference
  .github/workflows/docker.yml
Owners: @WatcherOrg/release-engineering

Update security policy contact details
  SECURITY.md
Owners: @WatcherOrg/maintainers
