Repository francis18georges-png/Watcher, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/design-system, @WatcherOrg/release-engineering, @WatcherOrg/ml-research, @WatcherOrg/documentation, @WatcherOrg/security-team, @WatcherOrg/qa

.github/CODEOWNERS:

# Consultez docs/merge-policy.md pour comprendre la gouvernance des revues,
# la cartographie des labels `scope:*` et la procédure d'automatisation.
# Chaque équipe référencée doit exister dans l'organisation GitHub hébergeant
# ce dépôt et être autorisée à relire les zones assignées.

# Couverture par défaut : toute modification doit être validée par les mainteneurs.
*                         @WatcherOrg/maintainers

# scope:app — Application Watcher (API, UI, packaging client)
app/                      @WatcherOrg/app-core
app/api/                  @WatcherOrg/app-core
app/ui/                   @WatcherOrg/design-system
packaging/                @WatcherOrg/app-core

# scope:ops — Automatisation, CI/CD et outillage développeur
.github/workflows/        @WatcherOrg/release-engineering
.github/auto_merge.yml    @WatcherOrg/release-engineering
.github/dependabot.yml    @WatcherOrg/release-engineering
automation-playbook.sh    @WatcherOrg/release-engineering
auto_flow.sh              @WatcherOrg/release-engineering
noxfile.py                @WatcherOrg/release-engineering
scripts/                  @WatcherOrg/release-engineering
Makefile                  @WatcherOrg/release-engineering
requirements*.txt         @WatcherOrg/release-engineering

# scope:ml — Données, entraînement et pipelines ML
datasets/                 @WatcherOrg/ml-research
metrics/                  @WatcherOrg/ml-research
train.py                  @WatcherOrg/ml-research
dvc.yaml                  @WatcherOrg/ml-research
params.yaml               @WatcherOrg/ml-research

# scope:docs — Documentation produit et gouvernance
README.md                 @WatcherOrg/documentation
CHANGELOG.md              @WatcherOrg/documentation
ETHICS.md                 @WatcherOrg/documentation
docs/                     @WatcherOrg/documentation
METRICS.md                @WatcherOrg/documentation
QA.md                     @WatcherOrg/documentation

# scope:security — Configuration sensible et secrets
config/                   @WatcherOrg/security-team
plugins.toml              @WatcherOrg/security-team
example.env               @WatcherOrg/security-team

# scope:quality — Tests, contrôle qualité et couverture
pytest.ini                @WatcherOrg/qa
tests/                    @WatcherOrg/qa

# Infrastructure GitHub (templates, CODEOWNERS, règles)
.github/ISSUE_TEMPLATE/   @WatcherOrg/maintainers
.github/CODEOWNERS        @WatcherOrg/maintainers

feat: persist autostart artifacts for plug-and-play audits
  app/core/autostart.py
  app/core/first_run.py
  docs/autostart.md
  tests/test_autostart_artifacts.py
  tests/test_first_run_autostart.py
Owners: @WatcherOrg/app-core, @WatcherOrg/documentation, @WatcherOrg/qa

feat: persist autostart artifacts for plug-and-play audits (#439)
  app/core/autostart.py
  app/core/first_run.py
  docs/autostart.md
  tests/test_autostart_artifacts.py
  tests/test_first_run_autostart.py
Owners: @WatcherOrg/app-core, @WatcherOrg/documentation, @WatcherOrg/qa

docs: align autopilot playbook with zero-touch operations
  docs/autopilot.md
Owners: @WatcherOrg/documentation

docs: align autopilot playbook with zero-touch operations (#440)
  docs/autopilot.md
Owners: @WatcherOrg/documentation

docs: préciser le pipeline plug-and-play
  docs/architecture-summary.md
Owners: @WatcherOrg/documentation

docs: préciser le pipeline plug-and-play (#441)
  docs/architecture-summary.md
Owners: @WatcherOrg/documentation

Add mission audit and gap report
  docs/mission_audit.md
Owners: @WatcherOrg/documentation

Add mission audit and gap report (#442)
  docs/mission_audit.md
Owners: @WatcherOrg/documentation

Fix release workflow parsing and docker provenance secrets
  .github/workflows/docker.yml
  .github/workflows/release.yml
Owners: @WatcherOrg/release-engineering

Fix release workflow parsing and docker provenance secrets (#443)
  .github/workflows/docker.yml
  .github/workflows/release.yml
Owners: @WatcherOrg/release-engineering

Revamp release automation and offline CLI support
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  app/cli.py
  pyproject.toml
  pytest.ini
  pytest_socket.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/app-core, @WatcherOrg/maintainers, @WatcherOrg/qa

Revamp release automation and offline CLI support (#444)
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  app/cli.py
  pyproject.toml
  pytest.ini
  pytest_socket.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/app-core, @WatcherOrg/maintainers, @WatcherOrg/qa

Document release gaps and harden automation
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  docs/architecture-plan.md
  docs/autostart.md
  docs/gap-report.md
  docs/migration-notes.md
  docs/requirements.txt
  docs/tests-plan.md
  docs/validation-commands.md
  scripts/autostart/linux/watcher.service
  scripts/autostart/windows/run-offline.ps1
  scripts/autostart/windows/watcher-task.xml
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

Document release gaps and harden automation (#445)
  .github/workflows/deploy-docs.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  docs/architecture-plan.md
  docs/autostart.md
  docs/gap-report.md
  docs/migration-notes.md
  docs/requirements.txt
  docs/tests-plan.md
  docs/validation-commands.md
  scripts/autostart/linux/watcher.service
  scripts/autostart/windows/run-offline.ps1
  scripts/autostart/windows/watcher-task.xml
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

docs: update grand public gap analysis
  docs/gap-report.md
Owners: @WatcherOrg/documentation

docs: update grand public gap analysis (#446)
  docs/gap-report.md
Owners: @WatcherOrg/documentation

Add public release readiness plan
  docs/public_release_plan.md
Owners: @WatcherOrg/documentation

Add public release readiness plan (#447)
  docs/public_release_plan.md
Owners: @WatcherOrg/documentation

docs: add public release planning dossier
  docs/public_release/architecture_overview.md
  docs/public_release/documentation_plan.md
  docs/public_release/gap_report.md
  docs/public_release/test_strategy.md
Owners: @WatcherOrg/documentation

docs: add public release planning dossier (#448)
  docs/public_release/architecture_overview.md
  docs/public_release/documentation_plan.md
  docs/public_release/gap_report.md
  docs/public_release/test_strategy.md
Owners: @WatcherOrg/documentation

build: add multi-os release installers and verification gates
  .github/workflows/docker.yml
  .github/workflows/release.yml
  README.md
  docs/gap-report.md
  docs/validation-commands.md
  scripts/package_linux.py
  scripts/package_windows.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

build: add multi-os release installers and verification gates (#449)
  .github/workflows/docker.yml
  .github/workflows/release.yml
  README.md
  docs/gap-report.md
  docs/validation-commands.md
  scripts/package_linux.py
  scripts/package_windows.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/documentation

Aligner l'init CLI et actualiser le gap report
  app/cli.py
  docs/gap-report.md
  pyproject.toml
Owners: @WatcherOrg/app-core, @WatcherOrg/documentation, @WatcherOrg/maintainers

Aligner l'init CLI et actualiser le gap report (#450)
  app/cli.py
  docs/gap-report.md
  pyproject.toml
Owners: @WatcherOrg/app-core, @WatcherOrg/documentation, @WatcherOrg/maintainers

docs: update gap report for distribution readiness
  docs/gap-report.md
Owners: @WatcherOrg/documentation

docs: update gap report for distribution readiness (#451)
  docs/gap-report.md
Owners: @WatcherOrg/documentation

autopilot: add knowledge-gap detection and report CLI access
  app/autopilot/__init__.py
  app/autopilot/controller.py
  app/cli.py
  docs/gap-report.md
  tests/test_autopilot_controller.py
  tests/test_cli_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/documentation, @WatcherOrg/qa

autopilot: add knowledge-gap detection and report CLI access (#452)
  app/autopilot/__init__.py
  app/autopilot/controller.py
  app/cli.py
  docs/gap-report.md
  tests/test_autopilot_controller.py
  tests/test_cli_autopilot.py
Owners: @WatcherOrg/app-core, @WatcherOrg/documentation, @WatcherOrg/qa

docs: replace artifact verification flow with concrete CLI steps
  .github/workflows/codeql.yml
  .github/workflows/pip-audit.yml
  .github/workflows/secret-scan.yml
  app/autopilot/__init__.py
  app/autopilot/controller.py
  app/cli.py
  docs/gap-report.md
  docs/index.md
  docs/quickstart-cli.md
  docs/verifier-artefacts.md
  mkdocs.yml
  tests/test_autopilot_controller.py
  tests/test_cli_autopilot.py
  tests/test_cli_doctor.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/app-core, @WatcherOrg/documentation, @WatcherOrg/maintainers, @WatcherOrg/qa

Update ROADMAP.md
  docs/ROADMAP.md
Owners: @WatcherOrg/documentation

feat: extend controlled ingestion and docs alignment
  README.md
  app/autopilot/controller.py
  app/autopilot/discovery.py
  app/autopilot/scheduler.py
  app/cli.py
  app/ingest/__init__.py
  app/ingest/pipeline.py
  app/ingest/source_registry.py
  app/policy/manager.py
  app/scrapers/github.py
  app/scrapers/sitemap.py
  docs/ROADMAP.md
  docs/architecture.md
  docs/autopilot.md
  docs/mission_audit.md
  tests/test_autopilot.py
  tests/test_autopilot_controller.py
  tests/test_autopilot_discovery.py
  tests/test_cli.py
  tests/test_github_scraper.py
  tests/test_ingest_validation.py
  tests/test_source_registry.py
  tests/test_vector_metadata.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/documentation, @WatcherOrg/app-core, @WatcherOrg/qa
