Repository francis18georges-png/Watcher, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/design-system, @WatcherOrg/release-engineering, @WatcherOrg/ml-research, @WatcherOrg/documentation, @WatcherOrg/security-team, @WatcherOrg/qa

.github/CODEOWNERS:

# Consultez README.md et docs/merge-policy.md pour la gouvernance des revues et
# la signification des labels.
# Les équipes référencées doivent exister dans l'organisation GitHub hébergeant
# ce dépôt et être autorisées à relire les zones assignées.

*                         @WatcherOrg/maintainers

# Front et API utilisateur
app/                      @WatcherOrg/app-core
app/ui/                   @WatcherOrg/design-system

# Expérience développeur et automatisation
.github/workflows/        @WatcherOrg/release-engineering
automation-playbook.sh    @WatcherOrg/release-engineering
scripts/                  @WatcherOrg/release-engineering

# Données et pipeline ML
datasets/                 @WatcherOrg/ml-research
train.py                  @WatcherOrg/ml-research

# Documentation et gouvernance
docs/                     @WatcherOrg/documentation

# Sécurité et configuration sensible
config/                   @WatcherOrg/security-team
plugins.toml              @WatcherOrg/security-team

# Qualité et tests
tests/                    @WatcherOrg/qa
QA.md                     @WatcherOrg/qa

# Infrastructure GitHub
.github/ISSUE_TEMPLATE/   @WatcherOrg/maintainers
.github/CODEOWNERS        @WatcherOrg/maintainers

Document site architecture and configure Pages deployment
  .github/workflows/deploy-docs.yml
  README.md
  docs/architecture.md
  docs/index.md
  docs/threat-model.md
  mkdocs.yml
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers, @WatcherOrg/documentation

test: validate windows installer and cli
  .github/workflows/ci.yml
  README.md
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers

Add plugin metrics panel and offline mode controls
  README.md
  app/cli.py
  app/core/engine.py
  app/ui/main.py
  app/utils/psutil_stub.py
  tests/test_engine_chat.py
  tests/test_ui_offline.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/design-system, @WatcherOrg/qa

chore: configure eof fixer hook (#291)
  .pre-commit-config.yaml
  QA.md
Owners: @WatcherOrg/maintainers, @WatcherOrg/qa

Ensure plugin manifest available from installed package (#292)
  app/tools/plugins/__init__.py
  pyproject.toml
  tests/test_plugin_reload.py
  tests/test_watcher_cli.py
Owners: @WatcherOrg/app-core, @WatcherOrg/maintainers, @WatcherOrg/qa

Add signed Windows release workflow (#293)
  .github/workflows/release.yml
  packaging/watcher.spec
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers

Isolate plugins execution and harden sandbox (#295)
  app/core/engine.py
  app/core/sandbox.py
Owners: @WatcherOrg/app-core

Add typed settings sections and integrate logging configuration (#296)
  app/configuration.py
  app/core/logging_setup.py
  config/__init__.py
  config/settings.toml
  tests/test_config.py
  tests/test_settings_validation.py
Owners: @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/qa

Integrate Alembic migrations and configure SQLite (#297)
  README.md
  alembic.ini
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/20240921_01_create_memory_tables.py
  app/core/memory.py
  requirements.txt
  tests/test_memory.py
Owners: @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/qa

Add deterministic seeding controls across CLI and CI (#299)
  .github/workflows/ci.yml
  README.md
  app/cli.py
  config/__init__.py
  tests/test_reproducibility.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/security-team, @WatcherOrg/qa

Clean up benchmark threshold helper (#300)
  .github/workflows/ci.yml
  README.md
  app/core/benchmark.py
  app/data/pipeline.py
  metrics/bench_thresholds.json
  metrics/benchmarks-latest.json
  metrics/benchmarks.jsonl
  metrics/performance_badge.svg
  tests/test_benchmark.py
Owners: @WatcherOrg/release-engineering, @WatcherOrg/maintainers, @WatcherOrg/app-core, @WatcherOrg/qa
